body {
    background-color: rgb(66, 200, 218);
}
.first li {
    border:2px solid rgb(46, 0, 173);
    margin: 15px;
    background-color: red;
    font-style: italic;
}
.second li{
    height:50px; 
    line-height:50px; 
    border:2px solid rgb(240, 11, 11);
    background-color: yellow;
    margin: 20px;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    font-weight: bold;
}
.third{
    border: 2px dotted rgb(247, 229, 68);
    text-decoration: underline;
    background-color: darkgreen;
}
