.green {
height: 100px;
width: 100px;
background-color: green;
margin: 30px;
}
.yellow {
height: 100px;
width: 100px;
background-color: yellow;
margin: 30px;
position: relative;
bottom: 80px;
left: 50px;
}
.red {
height: 100px;
width: 100px;
background-color: red;
margin: 30px;
position:relative;
bottom: 160px;
left: 100px;
}